<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
    <link rel='stylesheet' href='<%= stpath %>/stylesheets/normalize.css' />
	<link rel='stylesheet' href='<%= stpath %>/stylesheets/style.css' />

    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <link rel="stylesheet" type="text/css" href="<%= stpath %>/stylesheets/dhtmlxcalendar.css"/>
    <script src="<%= stpath %>/javascripts/dhtmlxcalendar.js"></script>

    <script src="<%= stpath %>/viewmodels/funnelVM"></script>
    <script src="<%= stpath %>/javascripts/knockout-3.1.0.js"></script>
    <script src="<%= stpath %>/javascripts/Chart.min.js"></script>


    <script type="text/html" id='step-template'>
        <div class = 'step'>
            <h2 data-bind="text:'Step ' + $index()"></h2>
            <select data-bind="options: events, value: event"></select>
            <select data-bind="options: properties, value: property", width="8"></select>
            <select data-bind="options: operation_type().operators, optionsText: 'name', optionsValue: 'value', value: operator"></select>
            <input  data-bind="value: value, valueUpdate: 'afterkeydown'">
            <select data-bind="options: operation_types, optionsText: 'name', value: operation_type"></select>
            <button data-bind="click: $parents[1].removeStep" class="removeStep">x</button>
        </div>
    </script>

    <script type="text/html" id='funnel-template'>
        <div class="funnel">
            <input  data-bind="value: $data.name, valueUpdate: 'afterkeydown'", placeholder='Funnel Name'>            
            <div class="steps">
                <!-- ko foreach: $data.steps -->
                <div data-bind="template: { name: 'step-template', data: $data }"></div>
                <!-- /ko -->
            </div>
            <button data-bind="click: $data.addStep"> Add Step</button>
        </div>
    </script>

</head>
<body >
<div class="steps">
    <div class="content">
        <p><h1>Funnel Analysis</h1></p>
        <div><a href="/">Back</a></div><br>
        <label for="userId">User Id:</label>
        <input data-bind="value: userId, valueUpdate: 'afterkeydown'" id="userId"><br><br>
        
        <div class="widget" id="funnelPicker">
            <h2>Funnel List</h2>
            <select data-bind="options: funnels, optionsText: 'name', value: funnelSelected"></select>
            <button data-bind="click: addFunnel">New Funnel</button>
        </div>

        <div class="widget" id="funnelEditor">
            <h2>Edit Funnel</h2>
            <div data-bind="template: { name: 'funnel-template', data: funnelEdited }"></div>
            <button data-bind="click: saveFunnel"> Save Funnel</button>
            <button data-bind="click: deleteFunnel"> Delete Funnel</button>
            <button data-bind="click: applyFunnel"> Apply Funnel</button>
        </div>

        <div class="widget" id="funnelChart">
            <h2>Chart</h2>
            <input id="calendar1">
            <input id="calendar2"><br>
            <div class="canvas-container">
                <canvas id="funnelCanvas" width="680" height="300"></canvas>
            </div>
        </div>
    </div>

    <button data-bind="click: test">Test</button>

</body>
</html>